@import url('styles/bootstrap-grid.css');


/* Header */
.header__title {
  font-size: 1.3em;
}

.header__subtitle {
  font-size: 1.1em;
  color: #9624e2;
}


/* Navigation */
.nav__link {
  color: #4a4a4a;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:active,
.nav__link--active {
  color: #ff6b7e;
  text-decoration: underline;
}

.nav__link + .nav__link {
  margin-left: 1em;
}


/* Hero banner */
.hero-banner {
  position: relative;
}

.hero-banner__img {
  max-width: 100%;
}

.hero-banner__titles {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
}

.hero-banner__dot {
  color: #ff6b7e;
}


/* Article */
.article__link {
  display: block;
}

.article__image {
  width: 100%;
}
