@import url('styles/bootstrap-grid.css');
@import url('https://fonts.googleapis.com/css?family=Nunito:200|Poppins:600');



h1 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 0px;
}
h2 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 60px;
}
h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #4a4a4a;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
}

.nav__sticky {
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: white;
	box-shadow: 0 5px 14px 0 rgba(106, 106, 106, 0.31);
	padding: 0 9%;
}

/* Header */

.header__wrapper {
  float:left;
}

.header__title {
  padding-top: 4px;
  font-size: 1.7rem;
  margin: 0;
}

.header__link {
  color: black;
  text-decoration: none;
  margin: 0;
}

.header__subtitle {
  font-size: 1.1em;
  color: #9624e2;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

/* Navigation */
.nav {
  text-align: right;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  padding: 28px 0;
}

@media (max-width:720px) {
  .header__wrapper {
    float: none;
  }
  .nav {
    padding: 10px 0;
    justify-content: flex-start;
  }
}

.nav__link {
  color: #4a4a4a;
  font-size: 16px;

}

.nav__link:hover,
.nav__link:active,
.nav__link--active {
  color: #ff6b7e;
  text-decoration: underline;
}

.nav__link + .nav__link {
  margin-left: 1em;
}

/* Hero banner */
.hero-banner {
  position: relative;
}

.hero-banner__overlay {
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
}

.hero-banner__img {
  height: 600px;
	background-color: black;
	background-image:url('https://assets.kenticocloud.com/393dbc5f-df9c-4c02-aabc-f5a733cffdcc/372484b2-02f6-40a1-b156-90f58d3f474e/Hero-image.png');
	background-position: center;
	background-size: cover;
	/* position: relative; */
	width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hero-banner__titles {
  position: absolute;
  top: 10%;
  left: 9%;
	padding-right: 20px;
  color: white;
  max-height: 300px;
}


.hero-banner__scroll {
	border: 2px solid white;
	border-radius: 100%;
	bottom: 8%;
	left: 45%;
	/* position: absolute; */
	width: 100px;
	height: 100px;
	text-align: center;
	padding: 20px;
	color: #fff;
  margin-top: 18rem;
	background-color: rgba(255, 255, 255, 0.25);

}

.hero-banner__title {
    font-size: 7.5vw;
}

.hero-banner__subtitle {
  font-size: 7.5vw;
}

@media (min-width:650px) {
  .hero-banner__title {
      padding-top: 3vw;
      font-size: 4vw;
  }
  .hero-banner__subtitle {
    font-size: 4vw;
  }
  .hero-banner__scroll {
    margin-top: 23.5rem;
  }
}



.hero-banner__dot {
  color: #ff6b7e;
}

.hero-banner__typed-text {
  font-family: 'Poppins', sans-serif;
  color: #ff6b7e;
  font-weight: bold;
}

.typed-cursor {
  font-family: 'Poppins', sans-serif;
  color: #ff6b7e;
  font-weight: bold;
  animation: blink 1s infinite;
}


.quick-links {
  font-size: 18px;
}

.quick-links a:link {
  color: #fff;
  text-decoration: underline;
}

.quick-links a:visited  {
  color: #fff ;
  text-decoration: underline;
}

.quick-links a:hover  {
  color: #FF6B7E;
  text-decoration: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Case studies hero */
.case-studies__title {
	font-size: 28px;
	font-weight: bold;
	margin-top: 54px;
}

.case-studies-wrapper {
	padding: 0 9%;
}


/* Article */
.article {
  background-size: auto 110%;
  background-position: 50% 50%;
  min-height: 205px;
  color: white;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
	padding-left: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  text-decoration: none;
	box-shadow: 0 5px 14px 0 rgba(106, 106, 106, 0.31);
  transition:all .2s ease-in-out;
  max-width: 360px;
}

.article:hover {
  /* background-position: 50% top; */
  background-size: auto 130%;
  /* padding-bottom: 2rem; */
}


.article__title {
  font-size: 1.3em;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 1);
}

.page-link:hover {
	color: #30d273;
  text-decoration: none;
}

.page-link {
	color: #30d273;
}

.page-link-footer {
	color: #8B8B8B;
}

.page-link-blue:hover {
	color: #5BFFAD;
  text-decoration: none;
}

.page-link-blue {
	color: #5BFFAD;
}

.page-spacer {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.lead {
  font-weight: bold;
  max-width: 800px;
  font-size: 18px;
  line-height: 1.56;
}

.photo {
  margin-top: 18px;
  max-width: 340px;
}


.cvSection-wrapper {
	background-color: #3a6ffe;
	padding: 0 9%;
  color: #fff;
}

/* .cvSection {
	font-size: 28px;
	font-weight: bold;
  align-items: flex-start;
} */


.cv-details {
  width: 28%;
  float: left;
  margin-right: 30px;
}

.cv-info {
  font-size: 14px;
  line-height: 1.65;
  width: 50%;
  max-width: 560px;
}

.cv-icon {
  width: 70px;
  height: 70px;
  margin-right: 16px;
  float: left;
}

@media (max-width:670px) {
  .cv-details {
    width: 68%;
    float: left;
    margin-right: 0px;
  }
  .cv-info {
    width: 90%;
  }
  .cv-icon {
    margin-right: ;
  }
}

.cv-job {
  font-size: 18px;
	font-weight: bold;
}

.cv-year {
	font-size: 14px;
}

.cv-title {
  margin-bottom: 16px;
}



.cv-paragraph {
	margin-top: 64px;
  margin-left: 0;
}

@media (min-width: 660px) {
  .cv-paragraph {
    display: flex;
  }
}




/* @media screen and (max-width:900px) {
    .cv-icon {display:none}
} */

.about-me-wrapper {
	padding: 0 9%;
}

/* Portfolio */


.portfolio__overlay {
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 100%;
  position: absolute;
  /* margin-left: -15px; */
}

.portfolio__title {
  min-height: 200px;
  background-size: cover;
  text-align: center;
  background-position: 50% 68%;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio__title h1 {
  color: white;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 1);
  font-size: 2rem;
}


@media (min-width: 660px) {
  .portfolio__content p {
    max-width: 660px;
  }
  .portfolio__title h1 {
    font-size: 3rem;
  }
}

.portfolio__content {
  line-height: 1.6;
	padding: 0 9%;
  padding-bottom: 2rem;
}

.portfolio__content h1,
.portfolio__content h2,
.portfolio__content h3,
.portfolio__content h4 {
  color: black;
}

.portfolio__content img {
  max-width: 90%;
}

.portfolio__content figure {
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
	border-radius: 30px;
}

.social-section__paragraph {
  font-size: 1.2em;
  font-weight: 600;
}

.social-icon {
  height: 46px;
  margin-right: 10px;
}

.medium {
  width: 280px;
  margin-left: -10px;
}

@media (max-width:650px) {
  .medium {
    width: 320px;
  }
}

.footer-icon {
	width: 54px;
  margin-top: 30px;
}

.footer {
  margin-top: 180px;
  color: #A3A3A3;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F1F1F1;
  padding-left: 9%;
  padding-right: 9%;
  text-align: center;
  font-size: 14px;
}
